[submodule "expatrio-usermanagement"]
	path = expatrio-usermanagement
	url = git@github.com:osiastedian/expatrio-usermanagement.git
[submodule "expatrio-usermanagement-ui"]
	path = expatrio-usermanagement-ui
	url = git@github.com:osiastedian/expatrio-usermanagement-ui.git
